@font-face {
  font-family: "Baskervville";
  src: url("./fonts/Baskervville/Baskervville-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baskervville";
  src: url("./fonts/Baskervville/Baskervville-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Birdie";
  src: url("./fonts/birdie-font-1720687540-0/Birdie.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mailart Rubberstamp";
  src: url("./fonts/Mailart Rubberstamp/MailartRubberstamp-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: white; */
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111111;
  z-index: 9999;
  font-family: 'Baskervville';
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: none;
  color: white;
}
.navbar {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  color: white;
}
.navbar--title {
  padding-left: 24px;
}
.navbar--items {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-right: 16px;
}
.home{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    background-image: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,0.8)), url("./images/packing.png");
    background-size:cover;
}
.home--link {
  text-decoration: none;
}
.home--button {
  width: 586px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-family: 'Baskervville';
}
.home--question {
    color: white;
}
.button--keyhole {
  background: transparent;
  border: none;
}
.main{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color:black;
  
}
.main--image {
  max-width: 150px;
  max-height: 150px;
}
.main--button {
  background-color: transparent;
  border: none;
}
.details {
  margin-top: 0;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh;
  width: 100vw; */
  background-color:black;
  color: white;
}
.details--image {
  max-width: 300px;
  align-self: center;
}
.audio--image {
  max-width: 100%;
  object-fit: contain;
}
.quote--body {
  display: flex;
  gap: 50px;
}
.details--story {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: right;
}
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* Style for the preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Style for the typewriter text */
#typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: none;
  color: white;
}

/* Hide the main content initially */
#main-content {
  display: none;
}