/* Fonts */

@font-face {
  font-family: "Baskervville";
  src: url("./fonts/Baskervville/Baskervville-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baskervville";
  src: url("./fonts/Baskervville/Baskervville-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Birdie";
  src: url("./fonts/birdie-font-1720687540-0/Birdie.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mailart Rubberstamp";
  src: url("./fonts/Mailart Rubberstamp/MailartRubberstamp-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("./fonts/futura-pt/FuturaCyrillicBook.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("./fonts/futura-pt/FuturaCyrillicBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("./fonts/futura-pt/FuturaCyrillicLight.ttf");
  font-weight: lighter;
  font-style: normal;
}

/* Animations */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.fade-in.visible {
  opacity: 1;
}
.fade-out {
  opacity:1;
  transition: opacity 1s ease-out;
}
.fade-out.hidden {
  opacity: 0;
}
.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade.visible {
  opacity: 1;
}
@keyframes toYellow {
  to {color: black; background-color: #ffe100;}
}
@keyframes toTrans {
  from {color: black; background-color: #ffe100;}
  to {color: white; background-color: transparent;}
}

/* Style */
html,
body {
  margin: 0;
  padding: 0;
  /* background-color: white; */
}
#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111111;
  z-index: 9999;
  font-family: 'Baskervville';
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: none;
  color: white;
}
.navbar {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  color: white;
  font-family: "Baskervville";
}
.navbar--title {
  padding-left: 24px;
}
.navbar--items {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-right: 16px;
}
#home{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    background-image: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,0.8)), url("./images/packing.png");
    background-size:cover;
}
.link {
  text-decoration: none;
  color: inherit;
}
.home--button {
  width: 586px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-family: 'Baskervville';
  /* margin-top: 200px; */
}
#home--text {
  font-family: "Baskervville";
  font-size: 2.5rem;
  width: fit-content;
  height: 100px;
  color: white;
  margin-top: 100px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
#home--title {
  text-align: center;
  font-family: "Baskervville";
  font-size: 2rem;
  margin-bottom: 50px;
  line-height: 0;
}
.button--keyhole {
  background: transparent;
  border: none;
}
.main{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color:black;
  
}
.main--image {
  max-width: 200px;
  max-height: 200px;
}
.main--button {
  background-color: transparent;
  border: none;
}
.title {
  font-family:"Mailart Rubberstamp" ;
}
.details {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh;
  width: 100vw; */
  background-color:white;
  color: black;
}
.details--image {
  max-width: 500px;
  align-self: center;
  margin-bottom: 50px;
}
.audio--button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  align-self: center;
  font-family: "Baskervville";
  font-style: italic;
  background-color: #D1EBD5;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
.audio--button:hover {background-color: #b4d1b8}
.audio--button:active {
  background-color: #b4d1b8;
  transform: translateY(2px);
}
.audio--image {
  max-width: 100%;
  object-fit: contain;
}
.quote--body {
  display: flex;
  flex-direction: column;
  font-family: "Baskervville";
  border-left: solid black;
  border-width: 1px;
  padding-left: 30px;
}
.quote--mark {
  width: 30px;
}
.details--headings {
  font-family: "Mailart Rubberstamp";
  font-size: 2rem;
}
.section {
  display:flex;
  gap: 50px;
}
.section--text {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  font-family: "Futura";
}
.section--fulltext {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Futura";
}
.section--gallery {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: 50px;
  padding-top: 20px;
}
.section--photo {
  max-height: 500px;
  max-width: fit-content;
}
.details--author {
  font-family: "Futura";
  font-style: italic;
  text-align: right;
}
.details--illustration {
  max-height: 500px;
  max-width: fit-content;
  align-self: center;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 100px;
  font-family: "Futura";
}
.about--team {
  list-style-type: none;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}